<%= javascript_pack_tag 'index' %>

<h1>Welcome</h1>

<div>
  <%= link_to 'View Events', events_path %>    
</div>
<div>
  <%= link_to 'Submit an Event', new_event_path %>    
</div>
<div>
  <%= link_to 'View Members', members_path %>
</div>
